* {
  box-sizing: border-box;
}

.navigation {
  background-color: black;
  height: 8vh;
  width: 100vw;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}
.navigation2 {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100vw;
}

.navlinks {
  display: flex;
  align-items: center;
  height: 8vh;
  padding: 0 30px;
}
.navlinks Link {
  text-decoration: none;
}
.navlinks div {
  height: 33px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4px 0;
}

.navcryptocurrency {
  color: rgb(255, 201, 99);
  border: 1px solid rgb(255, 201, 99);
  background-color: rgba(0, 0, 0, 0);
}

.navstockmarket {
  background-color: white;
  color: black;
  margin-left: 15px;
}

.logo {
  color: orange;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  flex: 1;
  padding-left: 15px;
  letter-spacing: 2px;
}

.navbutton {
  display: none;
  padding-right: 20px;
}

.navbutton img {
  height: 30px;
}

.navformobile {
  display: none;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  width: 100vw;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
  position: relative;
  top: 0;
  right: 0;
}
.navformobile div {
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 30px;
}
@media (max-width: 750px) {
  .navlinks {
    display: none;
  }
  .navbutton {
    display: flex;
  }
  .logo {
    padding-left: 10px;
  }
}
