.Home {
  height: 100%;
  background-color: #000c18;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  color: white;
  width: 100vw;
  object-fit: contain;
  box-sizing: border-box;
  overflow-x: hidden;
  /* border: 1px solid white; */
}
.headings {
  z-index: 10;
  /* margin-top: 10%; */
  width: 70vw;
  padding-left: 40px;
  /* border: 1px solid white; */
  /* color: orange;/ */
}
/* .headings div{
  f
} */
.backspacebg {
  position: absolute;
  height: 90%;
  width: 100%;
  /* border: 2px solid yellow; */
}
.background-particle {
  position: absolute;
  width: 100%;
  height: 90%;
  /* border: 2px solid red; */
}
.background-particle2 {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}
.cryptodiv {
  color: orange;
}
/* .div4 {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 2px;
  color: #ffffff94;
  font-size: 35px;
}
.div5 {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: rgba(255, 166, 0, 0.671);
  font-size: 35px;
}
.div6 {
  margin-top: 30px;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.397);
} */
Link {
  z-index: 2090;
}
.clickhere {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  color: rgb(255, 201, 99);
  border: 1px solid rgb(255, 201, 99);
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0);
  width: 170px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .clickhere:hover {
  backgroundcolor: white;
  color: black;
} */
@media (max-width: 770px) {
  .background-particle {
    display: none;
  }
  .background-particle2 {
    display: flex;

    position: absolute;
    height: 90%;
  }
  .headings {
    padding: 50px 0 0 10px;
  }
  .headings div {
    font-family: "Poppins", sans-serif;
    /* font-size: 35px; */
  }
  .div1 {
    /* font-family: "Open Sans", sans-serif; */
    /* text-transform: capitalize; */
    font-size: 30px;
  }
  .cryptodiv {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    /* font-weight: 700; */
  }
  /* .div3 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.664);
  } */
  .div4 {
    font-family: "Alfa Slab One", cursive;
    letter-spacing: 2px;
    color: #ffffff94;
    font-size: 35px;
  }
  .div5 {
    font-family: sans-serif;
    text-transform: capitalize;
    /* color: rgba(255, 166, 0, 0.671); */
    font-size: 25px;
  }
  .div6 {
    margin-top: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.397);
  }
}
